{% extends 'base.html' %}


{% block title %} Administracao {% endblock %}

{% block main %}

	<div class="row">
		<div class="col-3" style="background-color: #fff; border-radius: 5px; text-align: center">
			{% if user.is_authenticated %}
				<p>Ola {{ user.username }}
					<a href="{% url 'logout' %}">
						<span class="badge badge-dark">Sair</span>
					</a>
				</p>

			{% endif %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col">
			<h3>Listagem de clientes</h3>
			<table class="table table-bordered table-light">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Nome</th>
					<th scope="col">Idade</th>
					<th scope="col">Bio</th>
					<th scope="col">Operações</th>
				</tr>
				</thead>
				<tbody style="text-align: center">
				{% for person in object_list %}
					<tr>
						<td>
							<a href="{% url 'person_detail' person.id %}">{{ person.first_name }} {{ person.last_name }}</a>
						</td>
						<td>{{ person.age }}</td>
						<td>{{ person.bio }}</td>
						<td>
							<a href="{% url 'persons_delete' person.id %}">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
							<a href="{% url 'persons_update' person.id %}">
								<i class="fa fa-edit" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col" style="text-align: center">
			<a href="{% url 'person_new' %}">
				<i class="fa fa-user-plus btn btn-primary" aria-hidden="true"></i>
			</a>
		</div>
	</div>

{% endblock %}

{% block footer %}
	<footer class="footer">
		<div class="container">
			<span class="text-muted">Desenvolvimento web com Django 2.x</span>
		</div>
	</footer>
{% endblock %}