{% extends 'base.html' %}
{% block title %}{{ object.first_id }}{% endblock %}
{% block main %}
	<div class="row">
		<div class="col-6">
			<h3>Detalhes de {{ object.first_name }}</h3>
			<div class="card">
				<div class="card-body form-group">
					<label for="nome">Nome</label>
					<input class="form-control"
					       type="text"
					       disabled
					       value="{{ object.first_name }} {{ object.last_name }}"
					       id="nome">
					<label for="idade">Idade</label>
					<input class="form-control"
					       type="number"
					       disabled
					       value="{{ object.age }}"
					       id="idade">
					<label for="bio">Biografia</label>
					<input class="form-control"
					       type="text"
					       disabled
					       value="{{ object.bio }}"
					       id="bio">
				</div>
			</div>
			<hr>
			<div class="row justify-content-center">
				<div class="col-3">
					<a href="{% url 'persons_delete' object.id %}">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</a>
				</div>
				<div class="col-3">
					<a href="{% url 'persons_update' object.id %}">
						<i class="fa fa-edit" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col">
					<a href="{% url 'person_list' %}">
						<button class="btn btn-primary">Voltar</button>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}