{% extends 'website/base.html' %}
{% block content %}
	<h1 style="text-align: center">Bem-Vindo!</h1>
	<section>
		<h2 style="text-align: center">Promoções</h2>
		<div class="row">
			<div class="col-6">
				<p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis.
					Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
					Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Pra lá ,
					depois divoltis porris, paradis.</p>
			</div>
			<div class="col-6">
				<p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis.
					Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
					Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Pra lá ,
					depois divoltis porris, paradis.</p>
			</div>
		</div>
	</section>
	<hr>
	<section>
		<h2 style="text-align: center">Gerais</h2>
		<div class="row" style="text-align: center">
			<div class="col-4">
				<p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis.
					Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
					Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Pra lá ,
					depois divoltis porris, paradis.</p>
			</div>
			<div class="col-4">
				<img src="http://127.0.0.1:5500/src/logo.png" alt="imagem ilustrativa" style="width: 50%; height: 100%">
			</div>
			<div class="col-4">
				<p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis.
					Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
					Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Pra lá ,
					depois divoltis porris, paradis.</p>
			</div>
		</div>
	</section>
	<hr>
	<section>
		<h2 style="text-align: center">Depoimentos</h2>
		<div class="row">
			<div class="col-6">
				<p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis.
					Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
					Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Pra lá ,
					depois divoltis porris, paradis.</p>
			</div>
			<div class="col-6">
				<p>Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis.
					Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo!
					Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Pra lá ,
					depois divoltis porris, paradis.</p>
			</div>
		</div>
	</section>
{% endblock %}