{% extends 'core/../base.html' %}
{% block title %}Veiculos{% endblock %}
{% block content %}
	<div class="row">
		<div class="col">
			<table class="table table-striped table-bordered" style="text-align: center;">
				<thead>
				<tr style="border-top: none">
					<th scope="col" colspan="6">
						<a href="{% url 'core_novo_veiculo' %}">
							<button class="btn btn-primary">Adicionar</button>
						</a>
					</th>
				</tr>
				<tr>
					<th scope="col">Placa</th>
					<th scope="col">Marca</th>
					<th scope="col">Cor</th>
					<th scope="col">Observações</th>
					<th scope="col">Proprietário</th>
					<th scope="col">Operações</th>
				</tr>
				</thead>
				<tbody>
				{% for veiculo in veiculos %}
					<tr>
					<td>{{ veiculo.placa }}</td>
					<td>{{ veiculo.marca }}</td>
					<td>{{ veiculo.cor }}</td>
					<td>{{ veiculo.obs }}</td>
					<td>{{ veiculo.proprietario.nome }}</td>
					<td><a href="{% url 'core_update_veiculo' veiculo.id %}">
						<button type="submit" class="btn btn-primary">Editar</button>
					</a>
						<a href="{% url 'core_delete_veiculo' veiculo.id %}">
							<button type="button" class="btn btn-danger">Excluir</button>
						</a>
					</td>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}